@import 'tailwindcss';

@theme {
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  --color-deb-900: #0b2b6f;
  --color-deb-700: #075fc7;
  --color-deb-100: #e8f2ff;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
