@import 'tailwindcss';

@theme {
  --font-sans: 'Plus Jakarta Sans Variable', 'Plus Jakarta Sans', system-ui, sans-serif;
  --color-deb-900: #0b2b6f;
  --color-deb-700: #075fc7;
  --color-deb-100: #e8f2ff;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
